*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.background-img-container{
    
    background-image: url(img/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    
}

.navbar{
    align-items: center;
    min-height: 8vh;
    position: relative;  
}
.logo {
    width: 200px;
    margin: 30px;

}

/*-------- navbar display -------*/
.navbar ul,
.navbar ul a{
    text-decoration: none;
    list-style-type: none;
    color: white;

}
.nav-links{
    overflow-x: hidden;
    z-index: 2;
    width: 100vw;
    position: absolute;
    height: 100vh;
    background-image: url(img/navbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

}

.rotate-links{
    display: flex;
    flex-flow: column;
    position: absolute;
    width: 450px;
    top: 150px;
    right: -120px;
    
}

.rotate-links li{
    margin-bottom: 12px;
    position: relative;
    transform: rotate(-90deg);
    transition: .3s all linear;
    transition-delay: 0.5s;
    display: inline-block;
    
}
.rotate-links li:nth-child(1){
    background-color: #00b38c;
}
.rotate-links li:nth-child(2){
    background-color: #00c0c0;
}
.rotate-links li:nth-child(3){
    background-color: #7860ff;
}
.rotate-links li:nth-child(4){
    background-color: #a600cf;
}
.rotate-links li:nth-child(5){
    background-color: #b6419b;
}
.rotate-links li a:hover{
    color: black;
}

.rotate-links li a{
    width: 100%;
    float: left;
    padding: 20px 50px 20px 30px;
    
    margin: 0;
    font-size: 2em;
}
.rotate-links.active li{
    transform: rotate(-30deg);
}

.burger{
    width: 30px;
    float: right;
    margin: 30px;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
    
}
.burger img{
    cursor: pointer;
    float: right;
    position: absolute;
    right: 16px;
    top:17px;
}


.exit{
    color: white;
    
}
.exit img{
    cursor: pointer;
    float: right;
    margin-top:15px;
    margin-right: 38px;
}
.xl{
    position: absolute;
    right: 50px;
    top: 45px;
    width: 30px;
    height: 3px;
    background-color: white;
    transform: rotate(45deg);
}
.xr{
    top: 45px;
    width: 30px;
    height: 3px;
    background-color: white;
    transform: rotate(-45deg);
    position: absolute;
    right: 50px;
}

.nav-active{
    transform: translateX(0%);
    
}

.top-content{
    margin-top: 100px;
    text-align: center;
}
.top-content h1{
    color: white;
    font-size: 4em;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.top-content a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-weight: lighter;
    margin: 10px;
    font-size: 14px;
}


/*-------- navbar display -------*/
/*------- MID CONTENT DOTS------*/
h3{
    color:rgb(0, 0, 0);
    text-align: center;
    margin: 50px 0 20px 0;
    font-weight: lighter;
    font-size: 2em;
    font-weight: 500;
}
.mid-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-content .title{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-content .title .line{
    width: 100%;
    height: 1px;
    border-top: 1px dotted rgb(134, 134, 134);

}
.mid-content .title h3{
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    background-color: white;
    padding: 0 10px;
}
.left-column p{
    display: inline;
    font-size: 14px;
    margin: 20px;
}

.right-column a{
    color: black;
    margin-right: 20px;
}

/*------- MID CONTENT DOTS------*/

.video{
    width: 100%;
    margin: 50px auto;
}
.container .tekst p{
    margin-bottom: 30px;
}
.line{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
}

/*------- SLIDES CONTENT------*/
.slides{
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 50px 0;
}
.left-slide{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: flex-start;
}

.right-slide{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: flex-end;
}
.icons{
    cursor: pointer;
    height: 1em;
}
.slides .left-slide i {
    cursor: pointer;
    transition: .2s linear;
    color: rgba(194, 194, 194, 0.534);
    margin-right: 20px;
}
.slides .right-slide i {
    cursor: pointer;
    transition: .2s linear;
    color: rgba(194, 194, 194, 0.534);
    margin-left: 20px;
}
.slides i:hover{
    color: black;
}
.slides p{
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
}
.slides h4{
    margin: 0;
    font-weight: bold;
    color: black;
    font-size: 2em;
}

/*---------FOOTER----------*/
footer{
    background-color: rgb(204, 204, 204);
    text-align: center;
    padding: 30px 0;
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}
footer img{
    width: 200px;
}
.footer-text{
    display: flex;
    align-items: center;
}
.footer-content .footer-text p{
    font-size: small;

}
footer p a{
    color: #e1007e;
    text-decoration: none;
}
.footer-icons img{
    width: 200px;
}





/*-----------Nav hover -------------------*/



@media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .logo{
        width: 120px;
    }
    .burger img {
        width: 30px;
        margin: 5px 18px;
    }
    .burger div {
        width: 16px;
        height: 2.5px;
        background-color: white;
        margin: 2.5px;
    }
    .top-content h1 {
        font-size: 2.5em;
    }
    .container{
        width: 90%;
    }
    .container h3{
        font-size: 22px;
        text-align: left;
        margin:0;
    }
    .mid-content{
        text-align: center;
    }
    .mid-content .title h3{
        font-size: 18px;
        padding: 0 5px;
    }
    .mid-content .title .line {
        width: 90%;
    }
    .slides{
        font-size: 10px;
    }
    .slides p {
        font-size: 10px;
        text-align: right;
    }
    .slides 
    .icons{
        display: none;
    }
    .copter-link{
        text-decoration: none;
    }
    .footer-content{
        flex-flow: column;
    }
    footer img {
        width: 120px;
        margin-bottom: 10px;
    }
    .footer-icons img {
        width: 120px;
        margin-top: 10px;
    }
    .rotate-links li a{
        font-size: 16px;
        
    }
    .rotate-links{
        width: 320px;
    }
    .rotate-links li{
        margin-bottom: 8px;
    }
    .exit img {
        width: 30px;
        margin-top: 22px;
        margin-right: 38px;
    }
    .xl{
        width: 18px;
        height: 2px;
        right: 44px;
        top: 38px;
    }
    .xr{
        width: 18px;
        height: 2px;
        right: 44px;
        top: 38px;
    }
    .tekst{
        font-size: 12px;
        font-weight: 100;
    }
    .container .tekst p  {
        margin-bottom: 20px;
    }
    .nav-active{
        overflow-y: hidden;
    }
    html{
        overflow-x: hidden;
    }
}








