<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="img/logo.png" alt="">
            </div>
            <div class="footer-text">
                <p>2nd Floor 29-31 Saffcon Hill London ECIN 8SW Please call us on +44 (0) 207 042 7719 or <a href="#"
                        type="email">email us.</a></p>
            </div>
            <div class="footer-icons">
                <img src="img/footericons.png" alt="">
            </div>
        </div>
    </div>

</footer>





<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="scripts/landing.js"></script>

</body>

</html>