<%- include("partials/header") %>
<link rel="stylesheet" href="style.css">


<section class="background-img-container">
        
    <nav class="navbar">
        <div class="burger">
            <img src="img/exitCircle.png" alt="">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        
        <ul class="nav-links">
            <div class="exit">
                <img src="img/exitCircle.png" alt="">
                <div class="xl"></div>
                <div class="xr"></div>
            </div>
            <div class="rotate-links">
                <li><a href="/">HOME</a></li>
                <li><a href="#">Other Stuff</a></li>
                <li><a href="helicopters">RENT A COPTER</a></li>
                <li><a href="#">Other Stuff</a></li>
                <li><a href="#">Other Stuff</a></li>
            </div>
        </ul>
    </nav>
    <div class="top-content">
        <h1>Welcome to CopterCon</h1>
        <a href="#">Home</a> >
        <a href="#">Commercials</a> >
        <a href="#">CopterCon</a>
    </div>
</section>
<div class="container">
    <h3>The art of flying a copter and feeling smug!</h3>
    <div class="mid-content">
        <div class="left-column">
            <div class="title">
                <div class="line"></div>
                <h3>Numbers</h3>
            </div>
            <p>Costumers: <strong>5.6 milion</strong></p>
            <p>Tours: <strong>136K</strong></p>
            <p>Ratio: <strong>1:40</strong></p>
        </div>
        <div class="right-column">
            <div class="title">
                <div class="line"></div>
                <h3>Covering</h3>
            </div>
            <a href="helicopters">Rent a Copter</a>
            <a href="helicopters">Copter to Rent</a>
            <a href="helicopters">More Copters to Rent</a>
        </div>
    </div>
    <div class="video">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/37842083"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
                allowfullscreen></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
</div>


<div class="container">
    <div class="tekst">
        <p>CopterCon is Lorem ipsum dolor sit, amet consectetur adipisicing elit. A laborum repellat saepe sequi ipsam ut
            placeat nihil vero numquam assumenda ad ab minima necessitatibus rerum corporis commodi, libero soluta illo!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquam aperiam, non enim rerum accusamus, fugit quod maxime aliquid molestiae laborum impedit blanditiis in, qui minus fuga laboriosam cum exercitationem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestias vero aliquam atque nam sapiente eveniet error, tenetur, nemo laborum earum exercitationem odit suscipit dolor molestiae sed quasi quia ducimus!</p>
    </div>
    <div class="line"></div>
</div>

<div class="container">
    <div class="slides">
        <div class="left-slide">
            <i class="fas fa-angle-left fa-4x"></i>
            <div class="slide-name">
                <h4> <a href="helicopters">Copters</a> </h4>
            </div>    
        </div>
        <div class="icons">
            <img src="img/icons.png" alt="">
        </div>
        <div class="right-slide">
            <div class="slide-name">
                <h4><a class="copter-link" href="helicopters">More Copters</a></h4>
            </div>
            <i class="fas fa-angle-right fa-4x"></i>
        </div>
    </div>
</div>


<%- include("partials/footer") %>